
.pageheader{
    margin-left: 25%;
    display:flex;
    flex-direction: column;
}

.signup{
    background-color: cornflowerblue;
    margin-top: 50px;
    max-width:fit-content;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.signupcta{
    display:flex;
    flex-direction: column;
    max-width: 10%;

}
#firstname#lastname#password{
    flex:1;
    
}
.google{
    margin-left: 12%;
    display:flex;
    
}